body {
    font-family: 'Times New Roman', Times, serif;
    display: block;
    user-select: none;
    
}
body:focus{
    outline:none;
}
.container-ct{
    position: relative;
    width: auto;
    height: auto;
}
.text-center{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
}
.form-ct{
    position: absolute;
    margin: auto;
    width: 500px;
    height: 500px;
    right: 400px;
    top: 80px;
    font-size: large;
}
.form-group{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 5px;
    
}
.form-control{
    border: 2px double black ;
    width: 350px;
    height: 25px;
}
.bt{
    position: relative;
    left: 5px;
    top: 12px;
    transition: none 0s ease 0s;
    cursor: move;
    width: 150px;
    height: 35px;
    border: 2px solid #272626;
}
.pic-ct{
    position: absolute;
    left: 200px;
    top: 68px;
    transition: none 0s ease 0s;
    cursor: move;
}
.note{
    position: relative;
    left: auto;
    top: 450px;
}
.back{
    position: relative;
    text-align: right;
    font-size: large;
    bottom: 35px;
}
.message{
    height: 131px;
}
