body {
    font-family: 'Times New Roman', Times, serif;
    display: block;
    overflow-x: hidden;
}
body:focus{
    outline:none;
}
.text-center{
    position:relative;
    left: 80%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    text-rendering: optimizeSpeed;
}
.prm-ct{
    position:relative;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 1em;
    width: fit-content;
    width: 1000px;
    text-rendering: optimizeSpeed;
}
.content{
    display: flex;
    flex-wrap: nowrap;
}
h2{
    position: relative;   
    text-align: justify;
    line-height: 1.3;
    margin-top: 0;
    margin-bottom: 0.5em;
    text-rendering: optimizeSpeed;
}
.rules-rc{
    position: relative;
    left: 14%;
    flex: 30%; 
    text-align: justify;
    font-size: 20px;
    width: 100px;
}
.img-rc{
    position: relative;
    flex: 50%;
    align-items: center;
    text-align: center;
}